<div class="d-flex justify-content-center align-items-center vh-100">

<form (ngSubmit)="onSubmit()" #signupForm="ngForm" class="shadow w-450 p-3" >
  <h4 class="display-4  fs-1">Sign Up</h4><br>
  <div class="mb-3">
    <label for="fullname">Fullname:&nbsp;&nbsp;&nbsp;</label>
    <input type="text" id="fullname" required [(ngModel)]="fullname" name="fullname">
  </div>
  <div class="mb-3">
    <label for="username">Username:&nbsp; </label>
    <input type="text" id="username" required [(ngModel)]="username" name="username">
  </div>
  <div class="mb-3">
    <label for="password">Password:&nbsp;  </label>
    <input type="password" id="password" required [(ngModel)]="password" name="password">
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!signupForm.form.valid" >Sign Up</button>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/login">Login</a>
</form>
</div>