/* hoặc app.component.css nếu bạn muốn áp dụng kiểu chỉ cho component này */
.avatar:hover {
    cursor: pointer;
  }
  /* Dropdown Menu */
  /* Dropdown Menu */
  .dropdown-menu {
    position: absolute;
    top: 50px; /* Điều chỉnh khoảng cách từ avatar */
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    display: block;  /* Đảm bảo dropdown luôn là block khi hiển thị */
    z-index: 9999;  /* Đảm bảo dropdown không bị chặn */
  }
  
  .user-info {
    margin-bottom: 10px;
  }
  
  .btn-danger {
    width: 100%;
  }
  
  .sidebar .sidebar-heading {
    padding: 10px 15px;
    font-size: 18px;
    color: white;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* Tùy chỉnh đường kẻ ngang (hr) */
.sidebar hr {
  border: 0.3px solid #ffffff; /* Màu trắng */
  opacity: 0.5; /* Độ mờ */
}