.content-container {
  background-color: #fff0dc;
  padding: 20px;
}

.container {
  max-width: 1200px;
  background-color: #f1f0e8;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.table-container {
  max-width: 100%;
  color: #727d73; /* Màu chữ tiêu đề bảng */
  overflow-x: auto;
}

h2 {
  text-align: center;
  color: #89a8b2;
  margin-bottom: 20px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.alerts {
  display: flex;
  flex-direction: column;
}

.alert {
  margin-left: 10px;
  padding: 10px;
  border-radius: 4px;
}

.alert-success {
  background-color: #d0ddd0;
  color: #155724;
  border: 1px solid #aab99a;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.btn-add {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #474e93; /* Màu nền nút */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-add:hover {
  background-color: #646bae; /* Màu nền nút khi hover */
}

.video-table {
  width: 100%;
  border-collapse: collapse;
}

.video-table th,
.video-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #b3c8cf; /* Màu viền giữa các hàng */
}

.video-table th {
  background-color: #e5e1da; /* Màu nền tiêu đề bảng */
  color: #727d73; /* Màu chữ tiêu đề bảng */
}

.video-table tr:hover {
  background-color: #f0f0d7; /* Màu nền khi hover hàng */
}

.actions {
  display: flex;
  gap: 10px; /* Khoảng cách giữa các nút */
}

.btn-delete,
.btn-edit {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-delete {
  background-color: #7e5cad; /* Màu nền nút xóa */
  color: white;
}

.btn-delete:hover {
  background-color: #9b7dc4; /* Màu nền nút xóa khi hover */
}

.btn-edit {
  background-color: #474e93; /* Màu nền nút chỉnh sửa */
  color: white;
}

.btn-edit:hover {
  background-color: #646bae; /* Màu nền nút chỉnh sửa khi hover */
}

.btn {
 
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #89a8b2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #728a94;
}

.btn-primary {
  background-color: #007bff; /* Màu nền của nút Thêm */
}

.btn-danger {
  background-color: #dc3545; /* Màu nền của nút Xóa */
}

.btn-warning {
  background-color: #ffc107; /* Màu nền của nút Sửa */
}