<h2>Danh sách Video</h2>
<div class="container">
  <div class="action-buttons">
    <button routerLink="/admin/add-new" class="btn btn-primary">
      Add New Video
    </button>
    <div class="alerts">
      <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    </div>
  </div>
  <div class="table-container">
    <table class="video-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tiêu Đề</th>
          <th>Danh Mục</th>
          <th>Mô Tả</th>
          <th>Hành Động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let video of videos">
          <td>{{ video.video_id }}</td>
          <td>{{ video.title }}</td>
          <td>{{ video.category }}</td>
          <td>{{ video.detail.slice(0, 50) }}...</td>
          <td class="actions">
            <button (click)="deleteVideo(video.video_id)" class="btn btn-danger">
              Xóa
            </button>
            <button
              [routerLink]="['/admin/edit-video', video.video_id]"
              class="btn btn-warning"
            >
              Sửa
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
