<h2>Danh sách video</h2>

<div class="table-container">
  <div class="add-button-container float-start m-2">
    <button class="btn-add" routerLink="/admin/add-new">Add New Video</button>
  </div>
  <table class="video-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tiêu Đề</th>
        <th>Danh Mục</th>
        <th>Mô Tả</th>
        <th>Hành Động</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let video of videos">
        <td>{{ video.video_id }}</td>
        <td>{{ video.title }}</td>
        <td>{{ video.category }}</td>
        <td>{{ video.detail.slice(0, 50) }}...</td>
        <td class="actions d-flex">
          <button
            (click)="deleteVideo(video.video_id)"
            class="btn btn-danger btn-delete"
          >
            Xóa
          </button>
          <button
            class="btn-edit"
            [routerLink]="['/admin/edit-video', video.video_id]"
          >
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="successMessage" class="alert alert-success">Đã xóa thành công!</div>
<div *ngIf="errorMessage" class="alert alert-danger">
  Đã có lỗi xảy ra. Vui lòng thử lại!
</div>
