

<div id="overlay" class="overlay"></div>
<div class="container-fluid">
    <div class="row align-items-center  p-3">
        <div class="col d-flex align-items-center">
            <h1 class="h3 mb-0">Mới tải lên</h1>
        </div>
        <div class="col-auto">
            <a class="btn btn-outline-dark" href="/search">Tất cả</a>
        </div>
    </div>
    <main class="content">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="https://i.pinimg.com/736x/19/7f/b5/197fb5a68642eb76bf0bcbb9563b2d9a.jpg" class="card-img-top" alt="Placeholder Image">
                    <div class="card-body">
                        <p class="card-text"><b>Item 1</b></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://i.pinimg.com/736x/19/7f/b5/197fb5a68642eb76bf0bcbb9563b2d9a.jpg" class="card-img-top" alt="Placeholder Image">
                    <div class="card-body">
                        <p class="card-text">Item 2</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://i.pinimg.com/736x/19/7f/b5/197fb5a68642eb76bf0bcbb9563b2d9a.jpg" class="card-img-top" alt="Placeholder Image">
                    <div class="card-body">
                        <p class="card-text">Item 3</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://i.pinimg.com/736x/19/7f/b5/197fb5a68642eb76bf0bcbb9563b2d9a.jpg" class="card-img-top" alt="Placeholder Image">
                    <div class="card-body">
                        <p class="card-text">Item 4</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://i.pinimg.com/736x/19/7f/b5/197fb5a68642eb76bf0bcbb9563b2d9a.jpg" class="card-img-top" alt="Placeholder Image">
                    <div class="card-body">
                        <p class="card-text">Item 5</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://i.pinimg.com/736x/19/7f/b5/197fb5a68642eb76bf0bcbb9563b2d9a.jpg" class="card-img-top" alt="Placeholder Image">
                    <div class="card-body">
                        <p class="card-text">Item 6</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://i.pinimg.com/736x/19/7f/b5/197fb5a68642eb76bf0bcbb9563b2d9a.jpg" class="card-img-top" alt="Placeholder Image">
                    <div class="card-body">
                        <p class="card-text">Item 7</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://i.pinimg.com/736x/19/7f/b5/197fb5a68642eb76bf0bcbb9563b2d9a.jpg" class="card-img-top" alt="Placeholder Image">
                    <div class="card-body">
                        <p class="card-text">Item 8</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://i.pinimg.com/736x/19/7f/b5/197fb5a68642eb76bf0bcbb9563b2d9a.jpg" class="card-img-top" alt="Placeholder Image">
                    <div class="card-body">
                        <p class="card-text">Item 9</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://i.pinimg.com/736x/19/7f/b5/197fb5a68642eb76bf0bcbb9563b2d9a.jpg" class="card-img-top" alt="Placeholder Image">
                    <div class="card-body">
                        <p class="card-text">Item 10</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://i.pinimg.com/736x/19/7f/b5/197fb5a68642eb76bf0bcbb9563b2d9a.jpg" class="card-img-top" alt="Placeholder Image">
                    <div class="card-body">
                        <p class="card-text">Item 11</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://i.pinimg.com/736x/19/7f/b5/197fb5a68642eb76bf0bcbb9563b2d9a.jpg" class="card-img-top" alt="Placeholder Image">
                    <div class="card-body">
                        <p class="card-text">Item 12</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>