<header class="header bg-dark text-white p-3 d-flex justify-content-between align-items-center">
  <button id="sidebarToggle" class="btn btn-dark"><i class="fas fa-bars"></i></button>
  <form class="search-form d-flex">
    <input type="text" placeholder="&#xf002; Search..." class="form-control me-2" id="searchInput">
  </form>
  <div class="auth-links">
    <!-- avatar user -->
    <div class="d-inline-flex justify-content-center align-items-center rounded-circle bg-primary text-white"
      style="width: 40px; height: 40px; font-size: 1.1rem;">
      AB
    </div>
    <!--  -->
    <ng-container *ngIf="isLoggedIn; else loggedOut">
      <div class="dropdown">
        <span class="text-white dropdown-toggle" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          Hello - {{ username }}
        </span>
        <ul class="dropdown-menu" aria-labelledby="userDropdown">
          <li><button class="dropdown-item" (click)="logout()">Logout</button></li>
        </ul>
      </div>
    </ng-container>
    <ng-template #loggedOut>
      <a routerLink="/login">Login</a>
      <span class="text-white">|</span>
      <a routerLink="/signup">Sign Up</a>
    </ng-template>
  </div>
</header>
<div id="sidebar" class="sidebar">
  <a href="#" class="closebtn" id="closeSidebar"><i class="fas fa-times"></i></a>
  <a href="#"><i class="fa-solid fa-house"></i> Home</a>
  <a href="#"><i class="fa-solid fa-address-card"></i> About</a>
</div>
<div id="overlay" class="overlay"></div>
<main>
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>