<div id="overlay" class="overlay"></div>
<div class="container-xxl">
    <div class="row align-items-center p-3">
        <div class="col d-flex align-items-center">
            <h1 class="h3 mb-0">Mới tải lên</h1>
        </div>
    </div>
    <main class="content">
        <div  class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            <div *ngFor="let videos of video" class="col">
                <a [routerLink]="['/detail',videos.video_id]" class="text-decoration-none">
                    <div class="card h-100">
                        <img src="{{videos.cover_url}}" class="card-img-top" alt="Placeholder Image">
                        <div class="card-body">
                            <p class="card-text"><b>{{videos.title}}</b></p>
                            <div class="item-info">{{videos.title}}</div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </main>
</div>
